# Hello World

In [20]:
print('hi')

hi

In [7]:
# printing Hello world!
print('Hello world!')

Hello world!

# Data Types

In [8]:
# integer
type(1)

int

In [9]:
# float
type(2.4)

float

In [10]:
# maths operation
1 + 2

3

In [11]:
# boolean
type(True)

bool

In [12]:
# string
# note that there's little difference in python between single and double quoutes (' vs ")
type('oof')

str

In [13]:
# in jupyter notebook you don't need to use print for the last line of a code block
# but this isn't true for regular python interpreters so don't make a habbit of it
print('Hello world!'.upper())
print('Hello world!'.lower())
print('Hello world!'.title())

HELLO WORLD!
hello world!
Hello World!

In [21]:
# count occurence of a character
print('Hello world!'.count('l'))
# replace occurences of a character
print('Hello world!'.replace('o','u'))

3
Hellu wurld!

# Variables

In [15]:
# note that we use double quotes to avoid escaping the single quote, this is equivalent to
# 'I\'m learning python and it\'s fun!'
message_1="I'm learning python"
message_2="and it's fun!"

In [16]:
print(message_1+' '+message_2)

I'm learning python and it's fun!

In [24]:
newMessage=message_1+' '+message_2
newMessage

"I'm learning python and it's fun!"

In [32]:
#use variables in strings using f''
f'{message_1} (from a youtube video) {message_2}'

"I'm learning python and it's fun!"

# Lists

In [35]:
countries = ['United States','India','China','Brazil']
countries

['United States', 'India', 'China', 'Brazil']

In [39]:
#lists don't need to be of a single type
randomStuff=['foo bar bar',69,True]
randomStuff

['foo bar bar', 69, True]

In [47]:
# elements of a list can be accessed via index, negative numbers can be used to count backwards
# returns the 2nd last element in the list
countries[-2]

'China'

In [51]:
# Slicing --> selecting a subset of a list
# list[start:stop] returns elements of "list" between "start" (inclusive) and "stop" (exclusive)
# the following returns elements at index 2 and 3 (the 3rd and 4th element)
countries[2:4]

['China', 'Brazil']

In [54]:
# can also omit the start or stop index to take all
# the following returns all elements from index 1 onwards
countries[1:]

['India', 'China', 'Brazil']

## Adding elements to a list

In [58]:
# adding elements to a list is called "appending"
countries = ['United States','India','China','Brazil']
# append "Canada" to the end of the list
countries.append('Canada')
countries

['United States', 'India', 'China', 'Brazil', 'Canada']

In [59]:
# you can also "insert" elements as specific indexes
countries = ['United States','India','China','Brazil']
# insert "Spain" at index 0
countries.insert(0,'Spain')
countries

['Spain', 'United States', 'India', 'China', 'Brazil']

In [62]:
# it's possible to join two lists
countries1 = ['United States','India','China','Brazil']
countries2 = ['UK','Germany','Austria']
# add lists one after another (first list at the top)
countries1 + countries2

['United States', 'India', 'China', 'Brazil', 'UK', 'Germany', 'Austria']

In [64]:
# lists can be nested
nestedCountriesList = [countries1,countries2]
nestedCountriesList

[['United States', 'India', 'China', 'Brazil'], ['UK', 'Germany', 'Austria']]

In [72]:
# elements can be removed from a list
countries = ['United States','India','China','Brazil']
# remove method --> specify the element
countries.remove('United States')
countries

['India', 'China', 'Brazil']

In [74]:
countries = ['United States','India','China','Brazil']
# pop method --> specify the index, returns the element "popped"
countries.pop(0)

'United States'

In [76]:
countries = ['United States','India','China','Brazil']
# del method --> as pop but does not return the element
del countries[0]